/* CSS Document */

/***绯荤粺閿熸枻鎷峰紡***/
body{ font:12px/1.5 Tahoma, Helvetica, Arial, '閿熸枻鎷烽敓鏂ゆ嫹','Microsoft YaHei', sans-serif; color:#333;}
body,hr,p,blockquote,dl,dt,dd,div,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,tr,th,td{ margin:0; padding:0;}

select{ height:30px; border:1px solid #BFD8DF; padding:5px;}
image{ border:0px;}
li{ display:block;}
h1,h2,h3,h4,h5,h6{ margin:10px 0px; font-family:"Microsoft Yahei"; }
table{ border:0px;}
a{ text-decoration:none; color:#0056AB;}
a:hover{ text-decoration:none; font-weight:bold;}
.green{ color:green; }
a.red:hover, a.red, .red{ color:red;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.m30{ margin:30px;}
.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml30{ margin-left:30px;}
.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.tr{ text-align:right;}
.tl{ text-align:left;}
.tc{ text-align:center;}
.select{ width:162px;}

/***閿熸枻鎷烽敓閰靛嚖鎷烽敓鏂ゆ嫹閿熺粸锟�*/
.header{ background:url(../images/header_bg.jpg) repeat; height:60px; width:100%; clear:both; color:#fff;}
.header_logo{ width:400px; height:48px; background:url(../images/header_logo.jpg) no-repeat center left; padding:6px 0px 0px 135px;  margin:6px 0px 0px 15px; float:left; font:bold 14px/48px "閿熸枻鎷烽敓鏂ゆ嫹";}
.header_set{ float:right; padding:35px 30px 0 0; }
.header_set span{ color:#FFFF00;}
.header_set li{float:left; position:relative; z-index:10; margin-right:20px;}
.header_set a{ color:#fff; padding-left:20px; display:inline-block;}
.header_set a:hover{ color:#fff;}
.header_set a.exit{ background:url(../images/exit.gif) no-repeat left center;}
.header_set a.icon_role{ background:url(../images/icon_role.gif) no-repeat left center;}
.popup_menu{width:88px; position:absolute; z-index:9; left:0; top:20px; _width:90px; border:1px #BFD8DF solid; background:#fff; display:none;}
.popup_menu a{ color:#333;line-height:24px;padding:0px 20px;}
.popup_menu a:hover{ color:#000; background:#d9ecfa; text-decoration:none;}
.popup_menu li{ width:100%; float:left;}

/***閿熸枻鎷疯壙鎾為敓鏂ゆ嫹閿熺粸锟�*/
.footer{ width:100%; height:40px; background:url(../images/header_bg.jpg) repeat; position: absolute; bottom:0px;}
.footer_r{ float:right; margin-right:20px; font:12px/30px "閿熸枻鎷烽敓鏂ゆ嫹"; color:#fff;}

.footer_logo{background:url(../images/footer_logo.jpg) repeat-x left top;}
.footer_b_logo{background:url(../images/footer_b_logo.jpg) repeat-x left top;height:47px;margin:0;}

/***閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓绐栴垽鎷烽敓鏂ゆ嫹閿熸枻鎷�閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閽敓鏂ゆ嫹寮�**/
.m_search{ line-height:28px; padding:5px 10px; overflow:hidden; margin:0px; vertical-align: middle;}
.m_search1{ background:url(../images/m_search_img1.gif) repeat-x left top; border:0 solid #BFD8DF; line-height:24px; padding:10px; margin-bottom:10px;}
.m_search .select{ width:180px;}
.text_input,.wdate,.select{ color:#333; vertical-align: middle; }
.text_input{ width:150px;}
.wdate{ width:88px; background: white url(../images/datePicker.gif) no-repeat right;}


/*缁熼敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹寮�/
.m_statistical{ vertical-align: middle; background:url(../images/m_search_img.gif) repeat-x left top; border:1px solid #D5E3E6; height:28px; line-height:28px; padding:5px 10px; margin:10px 0px;}



/*閿熺潾杈瑰尅鎷烽敓鏂ゆ嫹 */
.blank_table{ border:0px; margin:0px; width:100%; text-align:left;}



/*閿燂拷閿熸枻鎷烽敓鏂ゆ嫹閿熺粸锟�
.bd_table{ width:100%;}
.bd_table tr td{ text-align:left; vertical-align:middle; padding:0 5px;}
.bd_table tr td.lable{ text-align:right;}
.bd_table input,.bd_table select{ height:26px;}
.bd_table .wdate{ width:150px;} 
.bd_table select{ padding:2px 5px;}



/*閿熸枻鎷烽敓鏂ゆ嫹鏂滈敓鏂ゆ嫹閿熸枻鎷烽敓缁烇拷/
.qi_table,.qi_table2{ background:#D5E3E6; width:100%;}
.qi_table th,.qi_table2 th{ background:url(../images/m_search_qi_table_img.jpg) repeat-x left top; border-right:1px solid #FFF; color:#044D7A; height:28px; line-height:28px;font-weight:bold; text-align:left; padding:0 5px;}
.qi_table td,.qi_table2 td{ background:#fff; height:32px; line-height:32px; text-align:left; padding:0 5px;}
.qi_table .left,.qi_table2 .left,.ts_table .left{ text-align:left;}
.qi_table .pretitle{ width:120px; font-weight:bold;}
.qi_table .center{ text-align:center}
.qi_table .page{ float:left; background:url(../images/m_search_qi_table_page_img.jpg) no-repeat left center; padding-left:15px;}
.qi_table .pageTurn{ float:right; color:#055588;}
.qi_table .pageTurn a{ color:#055588;}
.qi_table .text{ width:30px; height:16px;}
.qi_table .trgray{ background:#fafeff;}
.qi_table2 td{ background:#F8FCFD; height:32px; line-height:32px; text-align:left; padding:0 5px;}

/*閿熷彨鎲嬫嫹閫夐敓绛嬪崱閿熸枻鎷峰紡*/
.p_r_tabs{min-width:750px; width:100%; margin-top:10px;}
.p_r_tabs dt{ border-bottom:1px solid #b9c4d0; height:30px; font-size:14px; margin-bottom:10px; padding-left:10px;}
.p_r_tabs dt a{cursor:pointer; float:left;display:inline-block; background:#e5effa;position:relative;top:0;text-align:center; height:29px;line-height:29px; border: 1px solid #b9c4d0;margin-right:-1px;_margin-bottom:-1px;color:#08529e;font-weight:bold; font-size:14px;}
.p_r_tabs dt a span{float:left;padding:0 10px;height:27px; border: 1px solid #fff;}
.p_r_tabs dt a:hover,.p_r_tabs dt a:active{ text-decoration:none;}
.p_r_tabs_return{float:right; margin:10px 30px 0 0; }
.p_r_tabs .cur{ background:#fff;height:30px; border-bottom:0; color:#000; font-weight:bold;}
.p_r_tabs .cur span{ background:none;_border-bottom:2px solid #fff;}
/*.p_r_tabs dd{ background:#FFF; border:1px solid #b9c4d0; border-top:none; padding:10px; width:900px;}*/

.tabstwo {margin:10px 0px;}
.tabstwo dt{ border-bottom:0px; padding-left:10px; height:26px;}
.tabstwo dt a { margin-right:10px; margin-bottom:-2px; text-decoration: none; color: #000; font-weight:normal; line-height: 25px;  white-space: nowrap;}
.tabstwo dt a span{ height:25px;}
.tabstwo .cur span{ border-bottom:3px solid #fff; height:26px;}
.tabstwo dd{  border:0px; padding:0px;}





/*****閿熼摪鐨勫嚖鎷烽〉閿熸枻鎷峰紡*******/
.pager-his{ height:50px; line-height:50px; float:right; text-align:right; font-family:'閿熸枻鎷烽敓鏂ゆ嫹',Verdana, Helvetica, sans-serif;font-size:12px;}
.pager-his a{ padding:2px 5px; border:1px solid #9AAFE5;}
.pager-his span{ padding:2px 5px; border:1px solid #9AAFE5; color:#fff; background:#75b2e7;}
.pager-his font{ color:#ff0000;}
.pager-his a{ padding:5px 7px; height:1%; border:1px solid #c0bcbc; background: #ebebeb url(../images/pager.gif) repeat-x;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.pager-his a:hover{ padding:5px 7px; height:1%; border:1px solid #1875b0; color:#fff; background:#b4b4b4 url(../images/pager_selected.gif) repeat-x; text-decoration:none;}
.pager-his span{ padding:5px 7px; border:1px solid #1875b0; color:#fff;background:#b4b4b4 url(../images/pager_selected.gif) repeat-x;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.pager-his font{ color:#ff0000;}


/*閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷风粏椤甸敓鏂ゆ嫹寮�/
.SuefangDetail{ width:100%;}
.patient_detail{min-width:750px; margin:10px 0px 10px 10px;}
.patient_detail_left{margin:10px; width:566px;}
.patient_detail .patient_detail_left{min-width:340px; width:45%; border-right:1px solid #ccc; padding-right:20px; margin:0px;}
.patient_detail .patient_detail_left .main_conter{height: 140px; overflow-y: auto; padding: 10px 0 0 10px; margin-bottom:10px;}
.patient_detail_left,.patient_detail .patient_detail_right{height:100%; float:left;}
.patient_detail_right{min-width:360px; margin-left:20px;}
.patient_detail_right ul{ float:left; width:270px;}
.patient_detail_right ul li{ float:left; width:100px; padding-left:25px;}
.patient_detail_right .editor{ margin-right:30px; float:right;}
.botton_right{ margin: 5px 0px 10px 155px; position:relative; }
.high_risk{ background:url(../images/high_risk.gif); width:16px; height:16px; float:left; margin-left:5px; }
.risk{ background:url(../images/risk.gif); width:16px; height:16px; float:left; margin-left:5px;}
.low_risk{ background:url(../images/low_risk.gif); width:16px; height:16px; float:left; margin-left:5px;}
a.sms,a.yygh,a.btn_editor,a.btn_del,a.change_password{ display:block; float:left; margin-right:5px;}
a.sms,a.yygh,a.btn_editor,a.btn_del,a.change_password,.qq,.wx,.tel,.email{width:20px; height:20px; background:url(../images/icon_1.gif) no-repeat; }
a.sms{ background-position:0px 0px;}
a.yygh{ background-position:0px -20px;}
.qq{ background-position:0px -40px;}
.wx{ background-position:0px -60px;}
.tel{ background-position:0px -80px;}
.email{ background-position:0px -100px;}
a.btn_editor{ background-position:0px -120px;}
a.btn_del{ background-position:0px -140px;}
a.change_password{ background-position:0px -160px;}
a.btn1{ width:89px; height:34px; background:url(../images/btn_submit_determine_01.gif); display:block; font:bold 14px/34px "閿熸枻鎷烽敓鏂ゆ嫹"; color:#fff; text-align:center; margin:20px; }
a.btn1:link{ color:#fff;}
a.btn1:hover{ text-decoration:none; background:url(../images/btn_submit_determine_02.gif);}
a.btn_return{ width:89px; height:34px; background:url(../images/btn_submit_cancel_01.gif); color:#333; font:bold 14px/34px "閿熸枻鎷烽敓鏂ゆ嫹"; text-align:center; display:block;}
a.btn_return:hover{ background:url(../images/btn_submit_cancel_02.gif);}
.p_bottom{ background:url(../images/bg_p_data_bottom.jpg) repeat-x left top; height:50px; line-height:50px; padding:0px 30px;}
.p_bottom .p_message{ height:50px; border-right: solid 1px #c1d9e1; _margin-top:7px; margin-right:5px;}
.p_bottom .left{ float:left; padding-top:1px;}
.p_bottom .right{ float:right;}
.p_bottom .h50{height:50px;line-height:50px;_margin-top:7px;}
.p_bottom .h50_r{height:50px;line-height:normal;margin-top:7px;}
.p_bottom .number{ margin-right:10px;}
.p_bottom .pm_content{ padding-right:10px;}
.p_bottom .p_bottom_c{ _margin-top:7px;}
input.checkbox{ border:0px; line-height:50px;}

/*閿燂拷閿熸枻鎷烽敓鏂ゆ嫹閿熺粸锟�
.form_table{ width:100%; margin-bottom:20px; border:0px;}
.form_table tr td{ text-align:left; vertical-align:middle; padding:0 5px;}
.form_table tr td.title{ text-align:right;}
.form_table tr td.content{ width:22%; }
.form_table tr td.title_blue{ text-align:right; background:#f7f9fa;}
.form_table input,.bd_table select{ height:26px;}
.form_table .wdate{ width:150px;} 
.form_table select{ padding:2px 5px;}
.form_table .btn{ padding-left:150px; height:60px;}
.form_table .btn input{ margin-right:10px;}
.form_table input.btn_save,.form_table input.btn_return{ height:34px;}


/*閿熸枻鎷烽敓鏂ゆ嫹鏂滈敓鏂ゆ嫹閿熸枻鎷烽敓缁烇拷/
.qi_table,.qi_table2,.form_table{ background:#D5E3E6; width:100%;}
.qi_table th,.qi_table2 th,.form_table th{ background:url(../images/m_search_qi_table_img.jpg) repeat-x left top; border-right:1px solid #FFF; color:#044D7A; height:28px; line-height:28px;font-weight:bold; text-align:left; padding:0 5px;}
.qi_table td,.qi_table2 td,.form_table td{ background:#fff; height:32px; line-height:18px; padding:0 5px;}
.qi_table .left,.qi_table2 .left,.ts_table .left{ text-align:left;}
.qi_table .pretitle{ width:120px; font-weight:bold;}
.qi_table .center{ text-align:center}
.qi_table .page{ float:left; background:url(../images/m_search_qi_table_page_img.jpg) no-repeat left center; padding-left:15px;}
.qi_table .pageTurn{ float:right; color:#055588;}
.qi_table .pageTurn a{ color:#055588;}
.qi_table .text{ width:30px; height:16px;}
.qi_table .trgray{ background:#fafeff;}
.qi_table2 td{ background:#F8FCFD; height:32px; line-height:32px; text-align:left; padding:0 5px;}




/* 閫夐敓绛嬪崱閿熸枻鎷峰紡 */
.main_con{ background:none repeat scroll 0px 0px #F0FAFC; border-bottom:1px solid #46AEEE; height:30px; line-height:30px;padding-left:20px; position: relative;}
.main_con .cur{ background:none repeat scroll 0px 0px #FFF; border-left:1px solid #46AEEE; border-right:1px solid #46AEEE; border-top:1px solid #46AEEE; height:30px;}
.main_con a { display: inline-block; position: relative; top: 0px; font-weight: bold; margin-right: 10px; height: 30px; padding: 0px 10px; outline: medium none;}
.form_submit{ width:250px; margin:20px auto; }
.form_submit input{ margin-right:10px;}


/* 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹 */
.medical_content .left_menu{ float:left; width:19%;}
.medical_content .right_content{ float:right; width:80%;}
.form_table .title_check td{ background:#eaf1f2; color:#044D7A;}
.form_table .title_th td{ font-weight:bold;}