body { font-family: 微软雅黑, 黑体; }
/*login page*/
.login_bg { background: url("../images/login_bg.gif") no-repeat center top; }
#login_box { width: 400px; height: 330px; position: absolute; left: 50%; top: 50%; margin-left: -200px; margin-top: -165px; box-shadow: 0px 0px 12px #ddd; background-color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-align: center; }
#login_box .login_t_logo, #login_box .login_b_logo { background-image: url("../images/login_logo.png"); background-repeat: no-repeat; position: absolute; left: 50%; }
#login_box .login_t_logo { width: 84px; height: 84px; background-position: left top; margin-left: -42px; top: -42px; }
#login_box .login_b_logo { width: 119px; height: 30px; background-position: left -85px; margin-left: -60px; bottom: -57px; }
#login_box .login_tit { width: 304px; height: 22px; line-height: 22px; background: url("../images/login_tit.gif") no-repeat 0 0; margin: 59px auto 0; text-indent: -9999px; }
#login_box .login_form { width: 314px; margin: 16px auto 0; }
#login_box .login_form ul { }
#login_box .login_form ul li input { margin-top: 18px; width: 258px; height: 22px; font-size: 14px; line-height: 22px; padding: 10px 0 10px 54px; border: 1px solid #e4e4e4; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-image: url("../images/user_bg.gif"); background-repeat: no-repeat; color: #999; font-family: 微软雅黑, 黑体; }
#login_box .login_form ul .active { border: 1px solid #b3d465; }
#login_box .login_form ul li .kf_username { background-position: 12px 11px; }
#login_box .login_form ul li .kf_password { background-position: 12px -38px; }
#login_box .login_form .kf_login_btn { margin-top: 18px; }
#login_box .login_form .kf_login_btn input { width: 314px; height: 42px; line-height: 42px; background-color: #22ac38; font-size: 18px; font-family: 微软雅黑, 黑体; color: #fff; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; padding: 0; border: none; }
/*index*/
